.csym019{
    background-color: lightblue;
    color: black;
    display: block;
    width: 50%;
    float: left;
}
.csym015{
    background-color: yellow;
    color: black;
    display: block;
    width: 50%;
    float: right;
}